@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  :root {
    --color-primary: hsl(0,0%, 0%);
    --color-secondary: hsl(0,0%, 50%);
    --color-text-base: hsl(0,0%, 100%);
    --color-bg-primary: hsl(0,0%, 100%);
  }
}

.theme-Black {
  --color-primary: hsl(0,0%, 0%);
  --color-secondary: hsl(0,0%, 50%);
}

.theme-Red {
  --color-primary: hsl(25,100%, 50%);
  --color-secondary: hsl(0,100%, 65%);
}

.theme-Purple {
  --color-primary: hsl(270,100%, 50%);
  --color-secondary: hsl(270,100%, 75%);
}

.theme-Green {
  --color-primary: hsl(25,100%, 35%);
  --color-secondary: hsl(120,100%, 45%);
}

.theme-Blue {
  --color-primary: hsl(220,100%, 50%);
  --color-secondary: hsl(220,100%, 75%);
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-outline {
    -webkit-text-stroke: .5px black; /* Outline width and color */
    color: white; /* Makes text outline-only */
    font-variant: small-caps;
  }
}

a {
  font-weight: 500;
}
a:hover {
  color: darkslategrey;
}
.showcase-form {
  position: relative;
  top: -31px;
  /*height: 350px;*/
  width: 80%;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.showcase-form input[type=email], .showcase-form input[type=text], .showcase-form textarea {

border: 1px solid #b4becb;
  border-radius: 10px;
width: 100%;
padding-top: 7px;
  padding-bottom: 6px;
  margin-bottom: 10px;
font-size: 16px;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  color: #000;
  border-radius: 5px;
  background-color: #b4becb;
  border: 1px solid olive;
}